@import "Colors";
@import 'PageAlignments';

.filtered-movies {
    background-color:$page-background-color;
    padding-left: $padding-left;
    padding-right: $padding-right;
}

.body {
    .filter-movie-swiper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;

        .swiper-slide {
            text-align: center;
        }

        .image {
            width: 250px;
            height: 400px;
            padding: 10px;
        }
    }
}
