
@import "Colors.scss";
@import "FontStyle.scss";

.footer {
    position: relative;
    min-height: 20vh;
  }
  
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.icon{
    display: flex;
    justify-content: center; 
    align-items:0;      
}

.copy-right{
    font-size: map-get($phara-style,size );
    color: $font-color;
    text-align: center;
    padding: 10px;
}


